html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 10px 0;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fija 3 columnas por fila */
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    width: calc(100% - 40px); /* Ajusta el ancho dejando padding en los lados */
    /* max-width: 1400px; Opcional: limita el ancho máximo */
    margin: 0 auto; /* Centra el grid si la pantalla es muy ancha */
}

.chart-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}
